nav{
    background-color: royalblue;
}
a{
    color:white;
    margin:10px ;
    text-decoration: none;
}
.home{
    background-color: orange;
    
}
p{
    font-size: 25px;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
}
li{
    font-family: 'Roboto', sans-serif;
}input{
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}
